/* 全局样式表 */
html, body, #app, ul, li {
  height: 100%;
  margin: 0;
  padding: 0;
  /* min-width: 1366px; */
  font-size: 14px;
  --themeColor: #ec4141;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}