/* 全局样式表 */
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  min-width: 930px;
}

#app {
  height: 100%;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

#app {
  --themeColor: #ec4141;
}

.container {
  max-width: 1100px;
  margin: 10px auto;
}

.text-small {
  font-size: 12px;
  color: #ccc;
}

.fl {
  float: left;
}

.fr {
  float: right;
}